* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #1f1f2e;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.header-logo {
  width: 100px;
  height: 30px;
}

.header-img {
  width: inherit;
  height: inherit;
  margin: 0px 0px 0px 20px;
}
.nav {
  color: white;
  font-size: 10px;
  display: inline-block;
}

.nav-o {
  list-style: none;
  display: flex;
}

.nav-list {
  margin: 0px 20px 0px 0px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-imageWrapper {
  width: 400px;
  height: 300px;
}

.hero-image {
  width: inherit;
  height: inherit;
  margin: 10px 0px 0px 0px;
}

.hero-title {
  color: white;
  text-align: center;
}

.hero-description {
  color: white;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

.hero-button {
  font-size: 11px;
  color: white;
  background: #5fdde5;
  width: 150px;
  height: 27px;
  border-radius: 30px;
  border-style: none;
  margin-top: 20px;
}

.list-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 150px 0px 20px 0px;
}

.list-elementWrapper {
  width: 550px;
  margin: 0px 0px 50px 0px;
  padding: 0px;
}

.element-imageWrapper {
  display: flex;
  justify-content: center;
}

.element-title {
  color: white;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.element-description {
  color: white;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

/*  --------------------------  Footer ----------------------------*/

.footer {
  height: 300px;
  background: #000025;
  color: white;
}

.footer-imageWrapper {
  display: flex;
  justify-content: start;
}

.image-footer {
  margin: 50px 0px 10px 100px;
}

.footerWrapper {
  display: flex;

  align-items: center;
  justify-content: space-evenly;
}

.place {
  background-image: url("../images/icon-location.svg");
  background-repeat: no-repeat;
}

.place-text {
  padding: 0px 0px 0px 35px;
}

.cellphone {
  background-image: url("../images/icon-phone.svg");
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.cellphone-number {
  padding: 0px 0px 0px 35px;
}

.email-text {
  background: url("../images/icon-email.svg");
  background-repeat: no-repeat;
}

.email-text {
  padding: 0px 0px 0px 35px;
}

.image-footer {
  width: 100px;
  height: 30px;
}

.social-image {
  width: 20px;
  height: 20px;
}

.about ol {
  list-style: none;
}

.about-title {
  margin: 0px 0px 10px 0px;
}

.about-element {
  margin: 0px 0px 10px 0px;
}

.terms ol {
  list-style: none;
}

.term-title {
  margin: 0px 0px 10px 0px;
}

.term-element {
  margin: 0px 0px 10px 0px;
}

.social-networks {
  display: flex;
}

.social-image {
  margin: 0px 10px 0px 0px;
}
