* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #1c2230;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.header-logo {
  width: 100px;
  height: 30px;
}

.header-img {
  width: inherit;
  height: inherit;
  margin: 0px 0px 0px 20px;
}
.nav {
  color: white;
  font-size: 12px;
  display: inline-block;
}

.nav-o {
  list-style: none;
  display: flex;
}

.nav-list {
  margin: 0px 20px 0px 0px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-imageWrapper {
  width: 400px;
  height: 300px;
}

.hero-image {
  width: inherit;
  height: inherit;
  margin: 10px 0px 0px 0px;
}

.hero-title {
  color: white;
  text-align: center;
}

.hero-description {
  color: white;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

.hero-button {
  font-size: 11px;
  color: white;
  background: #42b0d1;
  width: 150px;
  height: 27px;
  border-radius: 30px;
  border-style: none;
  margin-top: 20px;
}

.list-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 150px 0px 20px 0px;
}

.list-elementWrapper {
  width: 550px;
  margin: 0px 0px 50px 0px;
  padding: 0px;
}

.element-imageWrapper {
  display: flex;
  justify-content: center;
}

.element-title {
  color: white;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.element-description {
  color: white;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

/*  --------------------------  Footer ----------------------------*/

.footer {
  height: 300px;
  background: #0c1524;
  color: white;
}

.footer-imageWrapper {
  display: flex;
  justify-content: start;
}

.image-footer {
  margin: 120px 0px 10px 100px;
}

.footerWrapper {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.place {
  background-image: url("../images/icon-location.svg");
  background-repeat: no-repeat;
}

.place-text {
  padding: 0px 0px 0px 35px;
}

.cellphone {
  background-image: url("../images/icon-phone.svg");
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.cellphone-number {
  padding: 0px 0px 0px 35px;
}

.email-text {
  background: url("../images/icon-email.svg");
  background-repeat: no-repeat;
}

.email-text {
  padding: 0px 0px 0px 35px;
}

.image-footer {
  width: 100px;
  height: 30px;
}

.social-image {
  width: 20px;
  height: 20px;
}

.about ol {
  list-style: none;
}

.about-title {
  margin: 0px 0px 10px 0px;
}

.about-element {
  margin: 0px 0px 10px 0px;
}

.terms ol {
  list-style: none;
}

.term-title {
  margin: 0px 0px 10px 0px;
}

.term-element {
  margin: 0px 0px 10px 0px;
}

.social-networks {
  display: flex;
}

.social-image {
  margin: 0px 10px 0px 0px;
}

/*  --------------------------  Content ----------------------------*/
.content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-title {
  margin: 0px 0px 15px 0px;
}

.content-description1 {
  margin: 0px 0px 15px 0px;
}

.content-description2 {
  margin: 0px 0px 15px 0px;
}

.content-link {
  color: #4fc4d5;
  border-bottom: 1px solid;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  padding-right: 20px;
}

.element {
  margin: 0px 0px 0px 55px;
}

/*  --------------------------  Cards ----------------------------*/

.cards {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.card {
  background: #21293c;
  margin: 0px 40px 120px 0px;
  width: 300px;
  color: white;
  padding: 40px 25px 20px 25px;
  border-radius: 5px;
}

.card-description {
  margin: 0px 0px 20px 0px;
}

.card-person {
  padding: 0px 0px 0px 30px;
  background-position-y: center;
  display: flex;
  align-items: center;
}

.card-imageWrapper {
  width: 25px;
  height: 25px;
}

.card-image {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}

.card-person2 {
  background-image: url("../images/profile-2.jpg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 30px;
  background-position-y: center;
}

.card-person3 {
  background-image: url("../images/profile-3.jpg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 30px;
  background-position-y: center;
}

.card-person-job {
  font-size: 9px;
}

.personWrapper {
  margin: 0px 0px 0px 10px;
}

/*  --------------------------  Form Access ----------------------------*/

.access {
  background: #1c2230;
  width: 700px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;

  border-radius: 5px;
  margin-bottom: -80px;
  position: relative;
  padding: 20px 30px 10px 30px;
}

.access-title {
  margin: 10px 0px 20px 0px;
}

.access-description {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.access-form-input {
  width: 500px;
  height: 40px;
  border-radius: 30px;
  border-style: none;
  padding: 0px 0px 0px 20px;
}

.access-form-button {
  background: #42b0d1;
  height: 40px;
  color: white;
  border-radius: 30px;
  border-style: none;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 0px 10px;
}
